# Node.js dependencies
node_modules/

# Compiled JavaScript files
dist/

# Sensitive files
.env

# git remote -v
prisma/dev.db

# pm2 configuration
ecosystem.config.js

#log files
*.log

#vscode settings
.vscode/

#build artifacts
*.tar